<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.panjikrisnayasa.submission3">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.panjikrisnayasa.submission3.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.panjikrisnayasa.submission3.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <provider
            android:name=".provider.UserProvider"
            android:authorities="com.panjikrisnayasa.submission3.user"
            android:exported="true"
            android:readPermission="com.panjikrisnayasa.submission3.READ_DATABASE"
            android:writePermission="com.panjikrisnayasa.submission3.WRITE_DATABASE" />

        <activity android:name=".view.FavoriteActivity" />
        <activity android:name=".view.NotificationsActivity" />
        <activity android:name=".view.DetailActivity" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>